@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');

.header {
    background-image: url('../../../../assets/images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 30vw;

}

h1 {
    position: absolute;
    left: 35vw;
    top: 8vw;
    font-size: 6vw;
    color: antiquewhite;
    font-family: 'Be Vietnam', sans-serif;
    
}